.card-dashboard-statistic{
    display: flex;
    flex-direction: row;
}

.card-statistic {
    background: white;
    margin-right: 20px;
    padding: 10px;
}

.buttonwrapper-excel{
    margin: 10px 0px;
}

.checklist-check-excel-download{
    margin:10px 0px;
}
