.tunnel-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.you-choose{
    text-align: center;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.you-choose h1{
    font-size: 30px;
}

.ant-card-body{
    min-height: 200px;
}

.ant-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.choose-regional-wrapper{
    display: flex;
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}